<div class="bjui-pageContent">

<form action="{:U('addToGroup')}" class="pageForm" data-toggle="validate">
        <div class="pageFormContent" data-layout-h="0">
	        <table class="table table-bordered table-condensed table-hover" width="100%">
	           <tbody>
				<tr>
					<td><label for='title' class='control-label'>成员列表:</label>
						<input type="hidden" name="group_id" value="{:I('get.id')}">
						<input type="text" name="uid" id="uid" size="30" data-toggle="lookup" data-url="{:U('groupmemberlookup',array('groupid'=>I('get.id')))}" data-width="600" data-height="300">
						&nbsp;&nbsp;<button type="submit" class="btn-default" data-icon="save">新增</button>
					</td>
				</tr>
				<tr><td></td></tr>
	           </tbody>
	          </table>

			<table data-toggle="tablefixed" class="table table-bordered  table-condensed table-hover" data-width="100%">
		        <thead>
		            <tr>
			            <th width="10" height="30"></th>
			            <th data-order-direction='asc' data-order-field='id'>ID</th>
						<th data-order-direction='desc' data-order-field='username'>用户名</th>
						<th>状态</th>
						<th>操作</th>
		            </tr>
		        </thead>
		        <tbody>
					 <foreach name="groupmember" item="v">
			         <tr>
					    <td></td>
					    <td>{$v.id}</td>
						<td>{$v.username}</td>
						<td><if condition="$v.status EQ 1 "><img src="__PUBLIC__/images/ok.gif" border="0"/><else/><img src="__PUBLIC__/images/locked.gif" border="0"/></if></td>
						<td><a href="{:U('removeFromGroup',array('uid'=>$v['id'],'group_id'=>I('get.id')))}" type="button" class="btn btn-red btn-sm" data-toggle="doajax" data-confirm-msg="确定要解除吗？" data-icon="trash">解除授权</a></td>
			         </tr> 
		          </foreach>
		        </tbody>
	    	</table>
        </div>
</form>
</div>